@model List<CrmTask>;

@{
    ViewData["Title"] = "Workflow / Tasks";
    Layout = "~/Views/Workflow/_LayoutWorkflow.cshtml";
}
<div class="content row m-5" style="background: #EEEEEE;">
    <h1>@ViewData["Title"]</h1>

    <p>Тут раздел задачь...</p>
</div>