@model CRM.CrmApi.Client.CompanyDeleteDto
@{
    Layout = "~/Views/Workflow/_LayoutWorkflow.cshtml";
    ViewBag.Title = "Удаление компании";
}
<div class="container d-flex align-items-center flex-column mt-5" style="color: white;">
    <h1>Удалить компанию</h1>

    <div >
        <h4>Действительно удалить данную компанию?</h4>
        <hr />
        <dl class="row justify-content-center">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.CompanyId)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.CompanyId)
            </dd>
        </dl>
    </div>

    <form asp-action="Delete" method="post">
        <input asp-for="@Model.CompanyId" hidden/>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>

    <hr />

    <div>
        <a asp-action="Index">Назад</a>
    </div>
</div>

