@model CRM.CRMapi.Client.Company
@{
	Layout = "~/Views/Workflow/_LayoutWorkflow.cshtml";
	ViewBag.Title = "Обновить компанию";
}
<div class="container d-flex align-items-center flex-column mt-5" style="color: white;">
	<h1>Обновить компанию</h1>

	<hr />

	<form asp-action="Edit" method="post">
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>

		<label for="chk" aria-hidden="true">Компания</label>

		<input asp-for="CompanyId" id="companyId" hidden />

		<div class="form-group row m-3">
			<input asp-for="CompanyName" id="conpanyName" class="fadeIn second form-control" placeholder="Название компании" autofocus />
			<span asp-validation-for="CompanyName" class="text-danger"></span>
		</div>

		<div class="form-group row m-3">
			<input asp-for="Inn" id="name" class="fadeIn second form-control" placeholder="ИНН" />
			<span asp-validation-for="Inn" class="text-danger"></span>
		</div>
		<div class="d-flex justify-content-center">
			<button class="btn mt-5 btn-warning " type="submit">Обновить</button>
		</div>
	</form>

	<hr />

	<div>
		<a class="btn btn-outline-info" asp-action="Index">Назад</a>
	</div>
</div>